<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="PYTHONPATH" value="%HOME%\site\wwwroot" />
    <add key="WSGI_HANDLER" value="azure_startup:app" />
    <add key="WSGI_LOG" value="%HOME%\LogFiles\wfastcgi.log" />
  </appSettings>
  <system.webServer>
    <handlers>
      <add name="PythonHandler" path="*" verb="*" modules="FastCgiModule" 
        scriptProcessor="%HOME%\Python39\python.exe|%HOME%\Python39\wfastcgi.py" 
        resourceType="Unspecified" requireAccess="Script" />
    </handlers>
    <defaultDocument>
      <files>
        <add value="default.htm" />
        <add value="default.html" />
        <add value="index.htm" />
        <add value="index.html" />
        <add value="iisstart.htm" />
        <add value="default.aspx" />
        <add value="hostingstart.html" />
      </files>
    </defaultDocument>
    <rewrite>
      <rules>
        <rule name="Static Files" stopProcessing="true">
          <match url="^/static/.*" ignoreCase="true" />
          <action type="Rewrite" url="{R:0}" />
        </rule>
        <rule name="Blueprint Static Files" stopProcessing="true">
          <match url="^/blueprints/.*/static/.*" ignoreCase="true" />
          <action type="Rewrite" url="{R:0}" />
        </rule>
        <rule name="Application" enabled="true" stopProcessing="true">
          <match url="(.*)" ignoreCase="true" />
          <conditions logicalGrouping="MatchAll" trackAllCaptures="false" />
          <action type="Rewrite" url="handler.fcgi/{R:1}" appendQueryString="true" />
        </rule>
      </rules>
    </rewrite>
  </system.webServer>
</configuration> 