<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>API Documentation - URL Shortener</title>
    <link rel="icon" type="image/png" href="{{ url_for('static', filename='images/favicon.png') }}" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description"
        content="Access the full power of our URL shortener service with our API. You can create and manage short links programmatically with our simple and secure API. You can also retrieve the statistics of your links with our API and analyze the data with our user-friendly interface. Explore the possibilities and enhance your online presence with our URL shortener. 🚀" />
    <link rel="canonical" href="/api">

   
 

    <!-- Include necessary CSS and JavaScript libraries -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css">

    <link rel="stylesheet"
        href="https://cdn.jsdelivr.net/npm/prismjs@1.29.0/plugins/line-numbers/prism-line-numbers.min.css" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/prismjs@1.29.0/plugins/toolbar/prism-toolbar.min.css" />

    <link rel="stylesheet" href="{{ url_for('static', filename='css/api.css') }}?v=5">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/header.css') }}?v=3">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/mobile-header.css') }}?v=3">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/prism-duotone-dark.css') }}?v=1">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/contacts-modal.css') }}?v=9">

</head>

<body>
    {% if self_promo %}
        <div class="self-promo">
            <div class="self-promo-inner"><a href="{{ self_promo_uri }}" target="_blank" rel="noopener">🥳
                    {{ self_promo_text }}</a></div>
            <button id="close-button" class="self-promo-close"><img width="20" height="20"
                    src="https://img.icons8.com/metro/30/ffffff/delete-sign.png" alt="delete-sign" /></button>
        </div>
    {% endif %}
    
    <div class="navbar">
        <img class="navbar-image" src="{{ url_for('static', filename='images/text.png') }}" alt="Banner Image"
            loading="lazy" onclick="window.location.href='/'">
        <div class="links">
            <ul>
                <li><a href="/">Shorten</a></li>
                <li><a href="/stats">Stats</a></li>
                <li><a href="/api" class="active">API</a></li>
            </ul>
        </div>
    </div>

    <div class="mobile-navbar">
        <div class="mobile-logo">
            <a href="/"><img class="mobile-logo-image" src="{{ url_for('static', filename='images/text.png') }}"
                    alt="Banner Image"></a>
        </div>
        <button type="button" class="burger" title="Menu">
            <span></span>
            <span></span>
            <span></span>
        </button>

        <ul class="mobile-menu">
            <li><a href="/">Shorten</a></li>
            <li><a href="/stats">Stats</a></li>
            <li><a href="/api" class="active">API</a></li>
        </ul>

    </div>

    <!-- Main Content -->
    <div class="container mt-4">

        <!-- <span><img class="emoji"
                src="https://raw.githubusercontent.com/microsoft/fluentui-emoji/main/assets/Hammer%20and%20wrench/Flat/hammer_and_wrench_flat.svg"></span> -->

        <h1 id="title-text">URL Shortener API Documentation</h1>

        <br>
        <h6>Welcome to the URL Shortener API documentation. This page provides information on how to use the API to
            shorten URLs and retrieve analytics.</h6>
        <br>
        <p><strong>Base URL:</strong> <code>{{ host_url }}</code></p>

        <br>


        

</body>

</html>